/*Schrijf hier jouw CSS*/
body {
    display: flex;
    flex-direction: column;
    height: 50vw;

    header {
        display: flex;
        flex-basis: 10%;
    }
    main {
        display: flex;
        flex-direction: row;
        flex-grow: 5;
        flex-basis: 7   0%;
        article {
            flex-grow: 1;
        }
        aside {
            flex-grow: 1;
        }
        nav {
            flex-grow: 1;
        }
    }
    footer {
        display: flex;
        flex-basis: 10%;
    }
}