/*Schrijf hier jouw CSS*/
.opdracht-1 {
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
.opdracht-2 {
    ul {
        display: flex;

        li {
            flex-basis: 500px;
        }
    }
}

.opdracht-3 {
    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        #tL {
            align-self: flex-start;
        }
        #ce {
            align-self: center;
        }
        #bR {
            align-self: flex-end;      }
    }
}
.opdracht-4 {
    ul {
        display: flex;
        flex-direction: row;
        row-gap: 10px;
        column-gap: 10px;
        flex-wrap: wrap4
    }
}