/*Schrijf hier jouw CSS*/
body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    nav {
        display: flex;
        flex-basis: auto;
        width:15%;
        flex-grow: 0;
        flex-shrink: 0;
    }
    div {
        border: 1px solid red;
        display: flex;
        flex-direction: column;
        flex-basis: 100%;

        header {
            display: flex;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 10%;
        }
        main {
            display: flex;
            flex-basis: 80%;

            article {
                flex-basis: 100%;
            }
        }
        footer {
            display: flex;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 10%;
        }
    }
}